@model List<ForekOnlineApplication.Models.Person>

<h2>Person List</h2>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Race</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Title</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Age</td>
                    <td>@person.DateOfBirth</td>
                    <td>@person.Gender</td>
                    <td>@person.Race</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@person.PersonId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@person.PersonId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No persons found.</p>
}

<a asp-action="Create" class="btn btn-primary">Create New</a>

<script src="~/lib/notyf.min.js"></script>


